---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.times-font {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px; /* optional, adjust if needed */
  line-height: 1.6; /* optional for readability */
}
