---
layout: archive
---

{% comment %}
This layout extends the archive layout and adds a post list with a subscription form.
{% endcomment %}

<h3 class="archive__subtitle">
  {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}

<!-- Follow.it form -->
<style>
  .followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-top: 30px !important;
    padding: clamp(17px, 5%, 40px) clamp(17px, 7%, 50px) !important;
    max-width: none !important;
    border-radius: 6px !important;
    box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25) !important;
  }
</style>

<div class="followit--follow-form-container" attr-a attr-b attr-c attr-d attr-e attr-f>
  <form action="https://api.follow.it/subscription-form/Mi9lT2g0MHozQkc0djdYdG1weUh4citvQy81aUsrbHQ5U0hnUmdUL2JZdDEwT24vUG5oREhEMkVZZXFwVkZlMkxXZkhJQnNiaGZDbzVCZFlldTNqTjhpNjBKYUtFMjh4LzFXS2ZBQ0xZVkVaZ1h4WHVIemxsMXpMNWphbVU2Rzl8NHpKaWRHdFJKWUxYN25ReURFeVJpMkNpcUtEVkdVQ0FycVBoVTRVWncwOD0=/8" method="post">
    <div class="form-preview" style="background-color: #fff; position: relative; border: 1px solid #ccc;">
      <div class="preview-heading">
        <h5 style="text-align: center;">Get Notifications About New Posts:</h5>
      </div>
      <div class="preview-input-field">
        <input type="email" name="email" required placeholder="Enter your email" />
      </div>
      <div class="preview-submi
